{namespace blog=Tutorboy\Blogmaster\ViewHelpers}
<blog:widget.box title="Comments">
<div class="form-group">
	<f:link.action action="new" class="btn btn-default" controller="Comment" arguments="{post: postObject.uid}"><f:translate key="label.addComment"/></f:link.action>
</div>
<div class="list-group comments-list">
	<table class="table table-striped table-hover">
	<tbody>
		<f:for each="{comments}" as="comment">
			<tr class="bgColor4 data-row">
				<td width="1%">
					<blog:gravatar email="{comment.authorEmail}" itemprop='image' alt="{comment.authorName}" size="100"/>
				</td>
				<td width="14%">
					{comment.authorName}<br/>
					{comment.authorEmail}<br>
					<f:format.date format="{settings.backend.dateFormat}">{comment.created}</f:format.date>
				</td>
				<td width="40%">
					<f:if condition="{comment.parentComment}">
						<f:translate key="label.inReplyTo"/> <f:format.crop maxCharacters="20">{comment.parentComment.authorName}</f:format.crop><br>
					</f:if>
					<f:format.crop maxCharacters="500">{comment.content}</f:format.crop>
					<div class="clear"><br>
						<ul class="actions-link clear">
							<f:if condition="{comment.status} == 'publish'">
								<f:then>
								<li><f:link.action action='ajax' controller="Comment" arguments="{id: comment.uid, actionName: 'pending', returnTo: 'Post'}"  class="text-warning">Unapprove</f:link.action></li>
								</f:then>
								<f:else>
									<li><f:link.action action='ajax' controller="Comment" arguments="{id: comment.uid, actionName: 'publish', returnTo: 'Post'}" class="text-success" >Approve</f:link.action></li>
								</f:else>
							</f:if>
							<li><f:link.action action='new' controller="Comment" arguments="{replyTo: comment.uid, post: comment.post, returnTo: 'Post'}">Reply</f:link.action></li>
							<li><f:link.action action='edit' controller="Comment" arguments="{id: comment.uid, returnTo: 'Post'}">Edit</f:link.action></li>
							<li><f:link.action action='ajax' controller="Comment" arguments="{id: comment.uid, actionName: 'trash', returnTo: 'Post'}" class="text-danger">Trash</f:link.action></li>
							<li><f:link.action action='ajax' controller="Comment" arguments="{id: comment.uid, actionName: 'spam', returnTo: 'Post'}" class="text-danger">Spam</f:link.action></li>
						</ul>
					</div>
				</td>
			</tr>
		</f:for>
	</tbody>
	</table>
</div>
</blog:widget.box>