<f:render partial="ValidationError" arguments="{__all}"/>
<f:form controller="Comment" 
	action="update" 
	name="comment" object="{comment}" arguments="{blog: blog}" id="comment-data">
	<f:form.hidden property="post" value="{post}"/>
	<div class="form-group">
	 	<label for="comment-authorName"><f:translate key="label.authorName"/></label>
		<f:form.textfield property="authorName" id="comment-authorName" class='form-control' placeholder='eg: Author Name'/>
	</div>

	<div class="form-group">
	 	<label for="comment-email"><f:translate key="label.authorEmail"/></label>
		<f:form.textfield property="authorEmail" id="comment-email" class='form-control' placeholder='eg: mail@example.com'/>
	</div>

	<div class="form-group">
	 	<label for="comment-authorUrl"><f:translate key="label.authorUrl"/></label>
		<f:form.textfield property="authorUrl" id="comment-authorUrl" class='form-control' placeholder='eg: http://example.com'/>
	</div>

	<div class="form-group">
	 	<label class="" for="comment-content"><f:translate key="label.content"/></label>
		<f:form.textarea property='content' id="comment-content" class='form-control' cols="10" rows="5"/>
	</div>
	<button type="submit" class="btn btn-primary pull-right"><f:translate key="label.updateComment"/></button>
</f:form>