{namespace TB=Tutorboy\Blogmaster\ViewHelpers}
<f:layout name="Default"/>
<f:section name="content">
<h1 class="pull-left page-heading">Blog > Posts</h1>
<f:link.action action="new" controller="Post" class='btn btn-primary pull-left'><f:translate key="label.addNewPost"/></f:link.action>
<f:form class="form-inline" id="post-list-form" action="list" method="POST"> 
<div class="panel panel-space clear">
<div class="panel-heading">
	<div class="row">
		<div class="display-inline-block">
			<f:form.select name="bulk-action" class="form-control"
			options="{-1: '{f:translate(key: \'label.bulkActions\')}', publish: '{f:translate(key: \'label.publish\')}', draft: '{f:translate(key: \'label.draft\')}', trash: '{f:translate(key: \'label.moveToTrash\')}'}"/>
			<input type="submit" id="doaction" class="btn btn-default" value="<f:translate key='label.apply'/>">
		</div>
		<div class="display-inline-block">
			<f:form.select name="filter-by-date" value="{filter-by-date}" id="filter-by-date"  class="form-control"
			options="{archiveList}"/>
		</div>
		<div class="display-inline-block">
			<f:form.select name="filter-by-cat" id="filter-by-cat"  class="form-control"
			value="{filter-by-cat}"
			options="{categories}"/>
			<input type="submit" name="filter_action" id="post-query-submit" class="btn btn-default" value="<f:translate key='label.filter'/>">
		</div>
		<div class="display-inline-block">
			<f:form.select name="filter-by-status" class="form-control" value="{filter-by-status}"
			options="{-1: '{f:translate(key: \'label.all\')}', pending: '{f:translate(key: \'label.pending\')}', publish: '{f:translate(key: \'label.approved\')}', draft: '{f:translate(key: \'label.draft\')}', future: '{f:translate(key: \'label.scheduled\')}', trash: '{f:translate(key: \'label.trashed\')}'}"/>
			<input type="submit" name="filter_action" id="comment-query-submit" class="btn btn-default" value="<f:translate key='label.filter'/>">
		</div>
		<div class="display-inline-block pull-right">
			<f:form.textfield name="search" class="form-control" value="{search}" id="search-filter" placeholder="Eg: blog, travel"/>
			<input type="submit" name="filter_action" class="btn btn-default" value="<f:translate key='label.search'/>" >
			<f:if condition="{search}">
			<input type="button" name="filter_action" class="btn btn-default" value="<f:translate key='label.clear'/>" onclick="javascript:searchClear();">
			</f:if>
		</div>
		
	</div>
</div>
<div data-state="expanded">
<f:be.widget.paginate objects="{posts}" as="pagedPosts" configuration="{itemsPerPage: 30, insertBelow: 1, recordsLabel: '{f:translate(key: \'label.showingPosts\')}'}">
	<div class="table-fit">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th width="1%"><f:form.checkbox value="" id="check-all"/></th>
					<th width="40%"><f:translate key="label.title"/></th>
					<th width="10%"><f:translate key="label.author"/></th>
					<th width="15%"><f:translate key="label.categories"/></th>
					<th width="15%"><f:translate key="label.tags"/></th>
					<th width="2%"><TB:be.buttons.icon icon="ext-blogmaster-comments"/></th>
					<th width="22%"><f:translate key="label.date"/></th>
				</tr>
			</thead>
			<tbody>
				<f:for each='{pagedPosts}' as='post'>

					<tr class="bgColor4 data-row">
						<td><f:form.checkbox value="{post.uid}" name="items[]" class="item"/></td>
						<td>
							<f:link.action controller='Post' action='edit' arguments="{id: post.uid}" title="{post.title}">
							<f:if condition="{post.title}">
								<f:then>{post.title}</f:then>
								<f:else><f:translate key="label.noTitle"/></f:else>
							</f:if>
							</f:link.action></td>
						<td>{post.author.username}</td>
						<td><f:format.crop maxCharacters="70"><f:for each="{post.categories}" as="category">{category.title}, </f:for></f:format.crop></td>
						<td><f:format.crop maxCharacters="70"><f:for each="{post.tags}" as="tag">{tag.title}, </f:for></f:format.crop></td>
						<td>{post.commentCount}</td>
						<td>
						<f:switch expression="{post.status}">
							<f:case value="publish"><small class="text-success"><f:translate key="label.published"/></small></f:case>
							<f:case value="future"><small class="text-info"><f:translate key="label.scheduled"/></small></f:case>
							<f:case value="draft"><small class="text-danger"><f:translate key="label.draft"/> (<f:translate key="label.lastModified"/>)</small></f:case>
							<f:case value="pending"><small class="text-warning"><f:translate key="label.pendingReview"/></small></f:case>
						</f:switch>
						<br>
						<f:if condition="{post.status} == 'draft'">
							<f:then>
								<f:format.date format="{settings.backend.dateFormat}">{post.modified}</f:format.date>
							</f:then>
							<f:else>
								<f:format.date format="{settings.backend.dateFormat}">{post.created}</f:format.date>
							</f:else>
						</f:if>
						</td>
					</tr>
				</f:for>
				
			</tbody>
		</table>
	</div>
</f:be.widget.paginate>
</div>
</f:form>
<script type="text/javascript">
function searchClear() {
	TYPO3.jQuery('#search-filter').val('');
	TYPO3.jQuery("#post-list-form").submit();
};
TYPO3.jQuery(document).ready(function() {
	TYPO3.jQuery('#check-all').click(function() {
		TYPO3.jQuery('input:checkbox.item').not(this).prop('checked', this.checked);
	});
});
</script>
</f:section>