<f:be.container
		includeCssFiles="{0: '{f:uri.resource(path:\'Css/Backend.css\')}'}"
		enableClickMenu="false"
		loadExtJs="false"
		loadExtJsTheme="false"
		enableExtJsDebug="false"
		loadJQuery="true"
		jQueryNamespace="defaultNoConflict"
		pageTitle="Blog: Powered by Blogmaster">
	<div class="module">
		<div class="module-docheader">
			<div class="module-docheader-bar module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<f:be.pagePath /> > <f:translate key="project.shortDescription"/>
				</div>
				<div class="module-docheader-bar-column-right">
					<f:be.buttons.icon uri="javascript:window.location.reload(true);" icon="actions-refresh" title="<f:translate key='label.refresh'/>" />
					<f:be.buttons.shortcut />
					<a href="https://github.com/midhundevasia/typo3-blogmaster/wiki" target="_blank"  title="<f:translate key='label.documentation'/>"><f:be.buttons.icon icon="extension-blogmaster-help"/></a>
					<a href="https://github.com/midhundevasia/typo3-blogmaster/issues" target="_blank"  title="<f:translate key='label.bugs'/>"><f:be.buttons.icon icon="extension-blogmaster-bugs"/></a>
					<a href="http://midhundevasia.com/donate/" target="_blank"  title="<f:translate key='label.support'/>"><f:be.buttons.icon icon="extension-blogmaster-donate"/></a>
				</div>
			</div>
		</div>
		<div class="module-body blogmaster-backend">
			<f:flashMessages />
			<f:render section="content" />
			<div class="clear"></div><hr/>
		</div>
	</div>
</f:be.container>
