{namespace blog=Tutorboy\Blogmaster\ViewHelpers}
<article itemscope itemtype="http://schema.org/Article" class="h-entry">
	<h1 class="post-title p-name" itemprop="name"><blog:link object="{post}" rel="bookmark">{post.title}</blog:link></h1>
	<div class="post-image">
		<f:if condition="{post.image}">
			<f:image image="{post.featureImage}" absolute="true"/>
		</f:if>
	</div>
	<div class="p-summary"><f:format.raw><blog:render object="{post}" field="content"/></f:format.raw></div>
	
	<div class="post-meta">
		<span class="post-comment">
			<blog:link object="{post}" rel="bookmark" section="comments">Comment {post.commentCount}</blog:link>
		</span>
		<time class="post-date dt-published" datetime="{post.created}" itemprop="datePublished">
			<f:format.date format="{settings.dateFormat}">{post.created}</f:format.date>
		</time>
		<span class="author vcard" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
			<blog:link class="url fn n" type="author" rel="author" itemprop="url" params="{user:'{post.author.username}'}"><span itemprop="name">{post.author.fullName}</span></blog:link>
		</span>
	
		<span class="post-category">
			<f:for each="{post.categories}" as="category"><blog:link object="{category}" rel="category tag">{category.title}</blog:link> </f:for>
		</span>
		<span class="post-tags">
			<f:for each="{post.tags}" as="tag"><blog:link object="{tag}" rel="tag">{tag.title}</blog:link> 	</f:for>
		</span>
	</div>
</article>
