{namespace blog=Tutorboy\Blogmaster\ViewHelpers}<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/">

<channel>
	<title>{settings.blogTitle}</title>
	<atom:link href="<f:uri.page pageUid='{settings.blogRootPageId}'  absolute='true'/>feed/" rel="self" type="application/rss+xml" />
	<link><f:uri.page pageUid='{settings.blogRootPageId}' absolute="true"/></link>
	<description>{settings.blogTagline}</description>
	<lastBuildDate><f:format.date format="D, d M Y H:i:s \G\M\T">{data.0.modifiedGmt}</f:format.date></lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>TYPO3 Blogmaster</generator>
	<ttl>60</ttl>
	<f:for each='{data}' as="post">
		<item>
			<title>{post.title}</title>
			<link><blog:link object="{post}" urlOnly='true'/></link>
			<comments><blog:link object="{post}" urlOnly='true' section="comments"/></comments>
			<f:if condition="{post.categories}">
			<f:for each="{post.categories}" as="category">
				<category><f:format.cdata>{category.title}</f:format.cdata></category>
			</f:for>
			</f:if>
			<description>{post.content}</description>
			<content:encoded><f:format.cdata>{post.content}</f:format.cdata></content:encoded>
			<pubDate><f:format.date format="D, d M Y H:i:s \G\M\T">{post.createdGmt}</f:format.date></pubDate>
			<guid><blog:link object="{post}" urlOnly='true'/></guid>
		</item>
	</f:for>
</channel>
</rss>