<div class="row">
<f:form method="post" controller="Post" 
	action="<f:if condition='{postObject.uid}'><f:then>update</f:then><f:else>create</f:else></f:if>" 
	name="newPost" object="{postObject}" id="post-data">
	<input type="hidden" name="__additionalData[]"/>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">

		<f:form.hidden property="modified"/><br>
		<div class="form-group">
			<f:form.textfield property="title" id="post-title" class='form-control' placeholder='Post Title - eg: Hello World'/>
			<small class="form-text text-muted"><f:translate key="label.postTitleHelp"/></small>
		</div>
		<span class="form-group">
			<f:form.textfield property="slug" id="post-slug" class='form-control' placeholder='Post Slug - eg: hello-world'/>
			<small class="form-text text-muted"><f:translate key="label.postSlugHelp"/></small>
		</span>
		<div class="form-group rte-tools">
	 		<div class="rte-editor-tabs pull-right">
	 			<a class="rte-editor-mode" href="javascript:;" data-mode='visual'><span>Visual</span></a>
	 			<a class="rte-editor-mode" href="javascript:;" data-mode='text'><span>Text</span></a>
	 		</div><div class="clear"></div>
	 	</div>
	 	<div class="form-group">
	 		<f:form.textarea property='content' id="post-content" class='form-control rte-editor' cols="10" rows="10"/>
		</div>
		<div>
			<f:render partial="Post/Additional/Excerpt" arguments="{_all}"/>
			<f:render partial="Post/Additional/Discussion" arguments="{_all}"/>
			<f:render partial="Post/Additional/Comments" arguments="{_all}"/>
			<f:render partial="Post/Additional/Author" arguments="{_all}"/>
		</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
		<f:render partial="Post/Sidebar/PostStatus" arguments="{_all}"/>
		<f:render partial="Post/Sidebar/Category" arguments="{_all}"/>
		<f:render partial="Post/Sidebar/Tag" arguments="{_all}"/>
		<f:render partial="Post/Sidebar/Images" arguments="{_all}"/>
	</div>
</f:form>
</div>